src/assets/animals/frog.json
src/assets/animals/gecko.json
src/assets/plants/cattail.json
src/assets/animals/snail.json
src/assets/animals/barb.json
src/assets/animals/turtle.json
src/assets/animals/vampireCrab.json
src/assets/animals/scorpion.json
src/assets/animals/tarantula.json
src/assets/animals/microCrab.json
src/assets/animals/crayfish.json
src/assets/animals/cherryShrimp.json
